<a href="https://colab.research.google.com/github/gkondayya/Options/blob/main/BigPlayers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [108]:
import pandas as pd
import datetime

In [118]:
#url="https://raw.githubusercontent.com/gkondayya/Options/main/fao_participant_oi_25052022.csv"
url="https://www1.nseindia.com/content/nsccl/fao_participant_oi_26052022.csv"
df = pd.read_csv(url)
df.head()

,Participant wise Open Interest (no. of contracts) in Equity Derivatives as on May 26,"2022""""",Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,Client Type,Future Index Long,Future Index Short,Future Stock Long,Future Stock Short\t,Option Index Call Long,Option Index Put Long,Option Index Call Short,Option Index Put Short,Option Stock Call Long,Option Stock Put Long,Option Stock Call Short,Option Stock Put Short,Total Long Contracts\t,Total Short Contracts,NaN
1,Client,221191,191409,1364140,192500,1046622,1029450,1113918,1238474,378411,161665,278690,235771,4201478,3250762,NaN
2,DII,25546,59106,44351,1677401,819,29102,0,0,0,0,1508,0,99818,1738015,NaN
3,FII,66395,81805,1360760,1067869,193076,272488,124863,124298,7103,10050,14943,7301,1909872,1421079,NaN
4,Pro,44607,25419,255063,86544,443481,489338,445216,457605,111176,163317,201549,91960,1506981,1308292,NaN

In [119]:
new_header = df.iloc[0] #grab the first row for the header
df = df[1:] #take the data less the header row
df.columns = new_header #set the header row as the df header
df.head()

,Client Type,Future Index Long,Future Index Short,Future Stock Long,Future Stock Short\t,Option Index Call Long,Option Index Put Long,Option Index Call Short,Option Index Put Short,Option Stock Call Long,Option Stock Put Long,Option Stock Call Short,Option Stock Put Short,Total Long Contracts\t,Total Short Contracts,NaN
1,Client,221191,191409,1364140,192500,1046622,1029450,1113918,1238474,378411,161665,278690,235771,4201478,3250762,NaN
2,DII,25546,59106,44351,1677401,819,29102,0,0,0,0,1508,0,99818,1738015,NaN
3,FII,66395,81805,1360760,1067869,193076,272488,124863,124298,7103,10050,14943,7301,1909872,1421079,NaN
4,Pro,44607,25419,255063,86544,443481,489338,445216,457605,111176,163317,201549,91960,1506981,1308292,NaN
5,TOTAL,357739,357739,3024314,3024314,1683997,1820377,1683997,1820377,496690,335032,496690,335032,7718148,7718148,NaN

In [120]:
df.dropna(axis=1)

,Client Type,Future Index Long,Future Index Short,Future Stock Long,Future Stock Short\t,Option Index Call Long,Option Index Put Long,Option Index Call Short,Option Index Put Short,Option Stock Call Long,Option Stock Put Long,Option Stock Call Short,Option Stock Put Short,Total Long Contracts\t,Total Short Contracts
1,Client,221191,191409,1364140,192500,1046622,1029450,1113918,1238474,378411,161665,278690,235771,4201478,3250762
2,DII,25546,59106,44351,1677401,819,29102,0,0,0,0,1508,0,99818,1738015
3,FII,66395,81805,1360760,1067869,193076,272488,124863,124298,7103,10050,14943,7301,1909872,1421079
4,Pro,44607,25419,255063,86544,443481,489338,445216,457605,111176,163317,201549,91960,1506981,1308292
5,TOTAL,357739,357739,3024314,3024314,1683997,1820377,1683997,1820377,496690,335032,496690,335032,7718148,7718148

In [112]:
df['Future Stock Short\t']

1     233972
2    1702624
3    1101521
4     187092
5    3225209
Name: Future Stock Short\t, dtype: object

In [121]:

todays_date = datetime.datetime.now().date()
index = pd.date_range(todays_date, periods=1, freq='D')
columns = ["Date","FII_Fut","DII_Fut","PRO_Fut","FII_Opt","DII_Opt","PRO_Opt","NET_SMART_Fut","NET_SMART_Opt"]


# Creating a data frame
data = {'Date': [todays_date],
        'FII_Fut': [0],
        'DII_Fut': [0],
        'PRO_Fut': [0],
        'FII_Opt': [0],
        'DII_Opt': [0],
        'PRO_Opt': [0],
        'NET_SMART_Fut': [0],
        'NET_SMART_Opt': [0],
       }
  
df2 = pd.DataFrame(data, columns =columns,index=None)



df2

,Date,FII_Fut,DII_Fut,PRO_Fut,FII_Opt,DII_Opt,PRO_Opt,NET_SMART_Fut,NET_SMART_Opt
0,2022-05-27,0,0,0,0,0,0,0,0

In [122]:
df['Future Index Long'] = df['Future Index Long'].astype(int)
df['Future Index Short'] = df['Future Index Short'].astype(int)
df["Fut_OI"]=df['Future Index Long']-df['Future Index Short']

df2['FII_Fut'][0]=df['Fut_OI'][2]
df2['DII_Fut'][0]=df['Fut_OI'][3]
df2['PRO_Fut'][0]=df['Fut_OI'][4]
#df2['NET_SMART_Fut'][0] = df2['FII_Fut'][0]+df2['DII_Fut'][0]+df2['PRO_Fut'][0]

df2['NET_SMART_Fut'].iloc[0] = df2['FII_Fut'].iloc[0]+df2['DII_Fut'].iloc[0]+df2['PRO_Fut'].iloc[0]


df['Option Index Call Long'] = df['Option Index Call Long'].astype(int)
df['Option Index Call Short'] = df['Option Index Call Short'].astype(int)
df["Option_CALL_OI"]=df['Option Index Call Long']-df['Option Index Call Short']

df['Option Index Put Long'] = df['Option Index Put Long'].astype(int)
df['Option Index Put Short'] = df['Option Index Put Short'].astype(int)
df["Option_Put_OI"]=df['Option Index Put Long']-df['Option Index Put Short']

df['Option_OI']=df["Option_CALL_OI"]-df["Option_Put_OI"]

df2['FII_Opt'][0]=df['Option_OI'][2]
df2['DII_Opt'][0]=df['Option_OI'][3]
df2['PRO_Opt'][0]=df['Option_OI'][4]
df2['NET_SMART_Opt'].iloc[0]= df2['FII_Opt'].iloc[0]+df2['DII_Opt'].iloc[0]+df2['PRO_Opt'].iloc[0]

df.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Client Type,Future Index Long,Future Index Short,Future Stock Long,Future Stock Short\t,Option Index Call Long,Option Index Put Long,Option Index Call Short,Option Index Put Short,Option Stock Call Long,Option Stock Put Long,Option Stock Call Short,Option Stock Put Short,Total Long Contracts\t,Total Short Contracts,NaN,Fut_OI,Option_CALL_OI,Option_Put_OI,Option_OI
1,Client,221191,191409,1364140,192500,1046622,1029450,1113918,1238474,378411,161665,278690,235771,4201478,3250762,NaN,29782,-67296,-209024,141728
2,DII,25546,59106,44351,1677401,819,29102,0,0,0,0,1508,0,99818,1738015,NaN,-33560,819,29102,-28283
3,FII,66395,81805,1360760,1067869,193076,272488,124863,124298,7103,10050,14943,7301,1909872,1421079,NaN,-15410,68213,148190,-79977
4,Pro,44607,25419,255063,86544,443481,489338,445216,457605,111176,163317,201549,91960,1506981,1308292,NaN,19188,-1735,31733,-33468
5,TOTAL,357739,357739,3024314,3024314,1683997,1820377,1683997,1820377,496690,335032,496690,335032,7718148,7718148,NaN,0,0,0,0

In [123]:
df2

,Date,FII_Fut,DII_Fut,PRO_Fut,FII_Opt,DII_Opt,PRO_Opt,NET_SMART_Fut,NET_SMART_Opt
0,2022-05-27,-33560,-15410,19188,-28283,-79977,-33468,-29782,-141728

In [116]:
#df2.to_csv('BigPlayers.csv',index=False)

In [ ]:
# Saving CSV file at Google Drive
#from google.colab import drive

#drive.mount('/content/drive')
#path = '/content/drive/My Drive/BigPlayers.csv'

#with open(path, 'w', encoding = 'utf-8-sig') as f:
#  df2.to_csv(f)

Mounted at /content/drive

In [137]:
from google.colab import files
import io
uploaded = files.upload()
df10 = pd.read_csv(io.BytesIO(uploaded['BigPlayers.csv']))
df10

Saving BigPlayers.csv to BigPlayers (23).csv

,Date,FII_Fut,DII_Fut,PRO_Fut,FII_Opt,DII_Opt,PRO_Opt,NET_SMART_Fut,NET_SMART_Opt
0,2022-05-27,-28572,-32907,7292,-33920,-136253,-259716,-54187,-429889

In [77]:
#df10 = df10.drop('Unnamed: 0', 1)
#df10 = df10.drop('Unnamed: 0.1', 1)
#df10

#df10=df10.drop(df10.filter(regex="Unname"),axis=1, inplace=True)

In [138]:
df10

,Date,FII_Fut,DII_Fut,PRO_Fut,FII_Opt,DII_Opt,PRO_Opt,NET_SMART_Fut,NET_SMART_Opt
0,2022-05-27,-28572,-32907,7292,-33920,-136253,-259716,-54187,-429889

In [139]:
df10 = pd.concat([df10, df2], axis=0)
df10

,Date,FII_Fut,DII_Fut,PRO_Fut,FII_Opt,DII_Opt,PRO_Opt,NET_SMART_Fut,NET_SMART_Opt
0,2022-05-27,-28572,-32907,7292,-33920,-136253,-259716,-54187,-429889
0,2022-05-27,-33560,-15410,19188,-28283,-79977,-33468,-29782,-141728

In [143]:
#df10 = df2.append(new_row, ignore_index=False)

df11 = df10
df11['Fut_Change'] = df11['NET_SMART_Fut']-df11['NET_SMART_Fut'].shift(1)
df11

,Date,FII_Fut,DII_Fut,PRO_Fut,FII_Opt,DII_Opt,PRO_Opt,NET_SMART_Fut,NET_SMART_Opt,Fut_Change,Opt_Change
0,2022-05-27,-28572,-32907,7292,-33920,-136253,-259716,-54187,-429889,NaN,NaN
0,2022-05-27,-33560,-15410,19188,-28283,-79977,-33468,-29782,-141728,24405.0,288161.0

In [144]:
df11['Opt_Change'] = df11['NET_SMART_Opt']-df11['NET_SMART_Opt'].shift(1)
df11

,Date,FII_Fut,DII_Fut,PRO_Fut,FII_Opt,DII_Opt,PRO_Opt,NET_SMART_Fut,NET_SMART_Opt,Fut_Change,Opt_Change
0,2022-05-27,-28572,-32907,7292,-33920,-136253,-259716,-54187,-429889,NaN,NaN
0,2022-05-27,-33560,-15410,19188,-28283,-79977,-33468,-29782,-141728,24405.0,288161.0

In [145]:
df10.to_csv('BigPlayers.csv',index=False)
from google.colab import files
files.download('BigPlayers.csv')