<a href="https://colab.research.google.com/github/gkondayya/Options/blob/main/BigPlayers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
url="https://raw.githubusercontent.com/gkondayya/Options/main/fao_participant_oi_25052022.csv"
df = pd.read_csv(url)
df.head()

,Participant wise Open Interest (no. of contracts) in Equity Derivatives as on May 25,"2022""""",Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,Client Type,Future Index Long,Future Index Short,Future Stock Long,Future Stock Short\t,Option Index Call Long,Option Index Put Long,Option Index Call Short,Option Index Put Short,Option Stock Call Long,Option Stock Put Long,Option Stock Call Short,Option Stock Put Short,Total Long Contracts\t,Total Short Contracts,NaN
1,Client,243679,189492,1431215,233972,3285211,2143620,3123448,2411746,1096915,345038,728584,449737,8545677,7136979,NaN
2,DII,27427,55999,56374,1702624,859,34779,0,0,0,0,94798,0,119439,1853421,NaN
3,FII,85197,118104,1378777,1101521,567365,659639,409183,365204,29177,31749,53345,24625,2751904,2071982,NaN
4,Pro,40299,33007,358843,187092,859387,706694,1180190,767781,368669,387150,618034,289575,2721042,3075679,NaN

In [3]:
new_header = df.iloc[0] #grab the first row for the header
df = df[1:] #take the data less the header row
df.columns = new_header #set the header row as the df header
df.head()

,Client Type,Future Index Long,Future Index Short,Future Stock Long,Future Stock Short\t,Option Index Call Long,Option Index Put Long,Option Index Call Short,Option Index Put Short,Option Stock Call Long,Option Stock Put Long,Option Stock Call Short,Option Stock Put Short,Total Long Contracts\t,Total Short Contracts,NaN
1,Client,243679,189492,1431215,233972,3285211,2143620,3123448,2411746,1096915,345038,728584,449737,8545677,7136979,NaN
2,DII,27427,55999,56374,1702624,859,34779,0,0,0,0,94798,0,119439,1853421,NaN
3,FII,85197,118104,1378777,1101521,567365,659639,409183,365204,29177,31749,53345,24625,2751904,2071982,NaN
4,Pro,40299,33007,358843,187092,859387,706694,1180190,767781,368669,387150,618034,289575,2721042,3075679,NaN
5,TOTAL,396602,396602,3225209,3225209,4712821,3544731,4712821,3544731,1494761,763937,1494761,763937,14138061,14138061,NaN

In [4]:
df.dropna(axis=1)

,Client Type,Future Index Long,Future Index Short,Future Stock Long,Future Stock Short\t,Option Index Call Long,Option Index Put Long,Option Index Call Short,Option Index Put Short,Option Stock Call Long,Option Stock Put Long,Option Stock Call Short,Option Stock Put Short,Total Long Contracts\t,Total Short Contracts
1,Client,243679,189492,1431215,233972,3285211,2143620,3123448,2411746,1096915,345038,728584,449737,8545677,7136979
2,DII,27427,55999,56374,1702624,859,34779,0,0,0,0,94798,0,119439,1853421
3,FII,85197,118104,1378777,1101521,567365,659639,409183,365204,29177,31749,53345,24625,2751904,2071982
4,Pro,40299,33007,358843,187092,859387,706694,1180190,767781,368669,387150,618034,289575,2721042,3075679
5,TOTAL,396602,396602,3225209,3225209,4712821,3544731,4712821,3544731,1494761,763937,1494761,763937,14138061,14138061

In [5]:
df['Future Stock Short\t']

1     233972
2    1702624
3    1101521
4     187092
5    3225209
Name: Future Stock Short\t, dtype: object

In [6]:
import datetime
todays_date = datetime.datetime.now().date()
index = pd.date_range(todays_date, periods=1, freq='D')
columns = ["Client_Stock","FII_Stock","DII_Stock","PRO_Stock","Client_Fut","FII_Fut","DII_Fut","PRO_Fut","Client_Opt","FII_Opt","DII_Opt","PRO_Opt","NET_SMART_Stock","NET_SMART_Fut","NET_SMART_Opt"]

df2 = pd.DataFrame(index=index, columns=columns)
df2

,Client_Stock,FII_Stock,DII_Stock,PRO_Stock,Client_Fut,FII_Fut,DII_Fut,PRO_Fut,Client_Opt,FII_Opt,DII_Opt,PRO_Opt,NET_SMART_Stock,NET_SMART_Fut,NET_SMART_Opt
2022-05-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df['Future Index Long'] = df['Future Index Long'].astype(int)
df['Future Index Short'] = df['Future Index Short'].astype(int)
df["Fut_OI"]=df['Future Index Long']-df['Future Index Short']

df['Future Stock Long'] = df['Future Stock Long'].astype(int)
df['Future Stock Short\t'] = df['Future Stock Short\t'].astype(int)
df["Stock_OI"]=df['Future Stock Long']-df['Future Stock Short\t']

df['Option Index Call Long'] = df['Option Index Call Long'].astype(int)
df['Option Index Call Short'] = df['Option Index Call Short'].astype(int)
df["Option_CALL_OI"]=df['Option Index Call Long']-df['Option Index Call Short']

df['Option Index Put Long'] = df['Option Index Put Long'].astype(int)
df['Option Index Put Short'] = df['Option Index Put Short'].astype(int)
df["Option_Put_OI"]=df['Option Index Put Long']-df['Option Index Put Short']

df['Option_OI']=df["Option_CALL_OI"]-df["Option_Put_OI"]

df.head()

,Client Type,Future Index Long,Future Index Short,Future Stock Long,Future Stock Short\t,Option Index Call Long,Option Index Put Long,Option Index Call Short,Option Index Put Short,Option Stock Call Long,...,Option Stock Call Short,Option Stock Put Short,Total Long Contracts\t,Total Short Contracts,NaN,Fut_OI,Stock_OI,Option_CALL_OI,Option_Put_OI,Option_OI
1,Client,243679,189492,1431215,233972,3285211,2143620,3123448,2411746,1096915,...,728584,449737,8545677,7136979,NaN,54187,1197243,161763,-268126,429889
2,DII,27427,55999,56374,1702624,859,34779,0,0,0,...,94798,0,119439,1853421,NaN,-28572,-1646250,859,34779,-33920
3,FII,85197,118104,1378777,1101521,567365,659639,409183,365204,29177,...,53345,24625,2751904,2071982,NaN,-32907,277256,158182,294435,-136253
4,Pro,40299,33007,358843,187092,859387,706694,1180190,767781,368669,...,618034,289575,2721042,3075679,NaN,7292,171751,-320803,-61087,-259716
5,TOTAL,396602,396602,3225209,3225209,4712821,3544731,4712821,3544731,1494761,...,1494761,763937,14138061,14138061,NaN,0,0,0,0,0

In [8]:
df['Fut_OI'][1]

54187

In [9]:
df2[]

SyntaxError: ignored